<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.UserAuthDao">

    <select id="getIdByUrl" parameterType="string" resultType="java.lang.Integer">
        select id from user_auth where url=#{url};
    </select>
    <select id="getRoleAuth" parameterType="java.util.Map" resultType="java.lang.Integer">
        select id from user_role_auth where auth_id=#{authId} and role_id=#{roleId};
    </select>
</mapper>
